
<div class="container" ng-show='{{status}}'>
  <md-card ng-cloak>
    <md-toolbar>
      <h3 class="text-center">Question</h3>
    </md-toolbar>
<table class="table table-hover">
  <thead>
    <td>ID</td>
    <td>Name</td>
    <td>Info</td>
    <td>Hint</td>
    <td colspan="3">Point</td>
  </thead>
 
  <tbody ng-repeat="soalan in questions" ng-model="questions" class="fx-fade-normal fx-dur-1000 fx-ease-quad" ng-cloak>
  <tr>
    <td>
       <md-input-container ng-bind="$index+1">
       </md-input-container>
    </td>
    <td> 
      <md-input-container ng-bind="soalan.name">
      </md-input-container>
    </td>
    <td>
       <md-input-container data-ng-bind-html="soalan.info | linky">
       </md-input-container>
   </td>
    <td>
       <md-input-container ng-bind="soalan.hint">
       </md-input-container>
    </td>
    <td> 
      <md-input-container ng-bind="soalan.point">
      </md-input-container>
    </td>
    <td>
      <md-input-container>
        <form>
         <input type="text" ng-model="makan" placeholder="answer">
        </form>
      </md-input-container>
    </td>
    <td>
       <md-input-container>
         <md-button class="md-raised md-primary" ng-click="answer(makan,$index)">Submit</button>
       </md-input-container>
    </td>
  </tr>
  </tbody>
</table>
  </md-card>
 <md-progress-circular ng-hide="questions" md-mode="indeterminate"></md-progress-circular>
</div>