
<div class="container" ng-show='{{status}}'>
  <md-card class="md-raised">
    <md-card-header>
      <h3>Question</h3>
    </md-card-header>
<table class="table table-hover">
  <thead>
    <td>ID</td>
    <td>Name</td>
    <td>Info</td>
    <td>Hint</td>
    <td colspan="3">Point</td>
  </thead>
  <tbody ng-repeat="soalan in questions" ng-model="questions">
  <tr>
    <td>
       <md-input-container>
         {{$index+1}}
       </md-input-container>
    </td>
    <td> 
      <md-input-container>
      {{soalan.name}}
      </md-input-container>
    </td>
    <td>
       <md-input-container>
         {{soalan.info}}
       </md-input-container>
   </td>
    <td>
       <md-input-container>
         {{soalan.hint}}
       </md-input-container>
    </td>
    <td> <md-input-container>
      {{soalan.point}}
      </md-input-container>
    </td>
    <td>
      <md-input-container>
        <form>
         <input type="text" ng-model="makan" placeholder="answer">
        </form>
      </md-input-container>
    </td>
    <td>
       <md-input-container>
         <md-button class="md-raised md-primary" ng-click="answer(makan,$index)">Submit</button>
       </md-input-container>
    </td>
  </tr>
  </tbody>
</table>
  </md-card>

</div>