<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group user-list" ng-show="false">
    <li class="list-group-item" ng-repeat="user in admin.users">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <span class="text-muted">{{user.email}}</span>
	    </div>
        <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>

  <table class="table">
      <tbody ng-repeat="question in questions" ng-model="questions">
      <td>
          <p editable-text="question.name">{{question.name||"empty"}}</p>
      </td>
      <td>
          <p editable-text="question.info">{{question.info||"empty"}}</p>
      </td>
      <td>
          <p editable-text="question.hint">{{question.hint||"empty"}}</p>
      </td>
      <td>
          <p editable-text="question.answer">{{question.answer||"empty"}}</p>
      </td>
      <td>
          <p editable-text="question.point">{{question.point||"empty"}}</p>
      </td>
      <td>
        <md-button class="md-primary md-ink-ripple md-raised"" ng-click="editQuestion($index)">Submit</md-button>
      </td>
  </tbody>
  </table>



<table >
  <tbody>
      <td>
          <input required placeholder='name' type="text" ng-model="question.name" />
          {{question.name}}
      </td>
      <td>
          <input required type="text" placeholder="info" ng-model="question.info" />
      </td>
      <td>
          <input type="text" placeholder="hint" ng-model="question.hint" />
      </td>
      <td>
          <input required type="text" placeholder="answer" ng-model="question.answer" />
      </td>
      <td>
          <input required type="text" placeholder="point" ng-model="question.point" />
      </td>
      <td>
        <button ng-click="createQuestion()">Submit</button>
      </td>
  </tbody>
</table>
</div>
