  <md-content  style="margin-left:300px;margin-right:300px;margin-top:50px">
  <md-card class="text-center">

    <md-card-header>
      <md-card-header-text>
      <h1>Login</h1>
      </md-card-header-text>
    </md-card-header>

<md-card-content>
  <div >
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

        <md-input-container>
          <label>Email</label>
          <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
        </md-input-container>
        <hr/>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ vm.errors.login }}</p>
        </div>

        <div>
          <md-button class="md-button md-primary md-raised" type="submit">
            Login
          </md-button>
          <md-button class="md-raised" ui-sref="signup">
            Register
          </md-button>
        </div>

      </form>
    </div>
  </div>
</md-card-content>
  </md-card>
</md-content>
